@CHARSET "UTF-8";
body{
  background-color: #d0e3f1;
  font-family: Arial,sans-serif;
  font-size: small;
  padding: 3px;
  margin: 5px;
}
h1 {
	color: #1111ff;
}



.right{
	text-align: right;
	margin-right: 3px;
}


#dvLoading
{
   background:#000 url(loading.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin: -25px 0 0 -25px;
}